@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-100.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-200.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("../fonts/Estedad-FD/Estedad-FD-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-100.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-200.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-300.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-400.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-500.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-600.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-700.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-800.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-100.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-200.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-300.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-400.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-500.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-600.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-700.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains-Mono/JetBrainsMono-Italic-800.ttf");
    font-weight: 800;
    font-style: italic;
}
