@config "../../tailwind.config.js";
@import "tailwindcss";

@import "./fonts.css";
@import "./variables.css";

body {
    font-family: var(--font-family);
    direction: rtl;
}

.profile {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}

p {
    margin-bottom: 1rem
}

.profile-cover {
    position: relative;
    z-index: 2;
    aspect-ratio: 3/1;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-cover img {
    max-height: 200px;
    height: 100%;
}

/* .profile-header {
    position: absolute;
    z-index: 10;
    top: 17rem
} */
